
/*===   MIXINS ===*/
@mixin PTSans {
    font-family: 'PT Sans', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin list-null {
    padding: 0;
    margin: 0;
    list-style: none;
}
/*=== / MIXINS ===*/

/*===   VARIABLES ===*/
    $base: 4px;
	$transition: 0.2s;
/*=== / VARIABLES ===*/

html {
	font-size: 16px;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

body {
    @include Roboto;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-weight: 100;
	font-size: 40px;
	color: #fff;
}

h2 {
	font-weight: 700;
	font-size: 18px;
}

p {
	margin: 0; 
}

.section-outer {
	padding: 0 $base*3;
}

.section-inner {
	max-width: 940px;
    margin: 0 auto;
}


/*===   intro ===*/
.section-outer-intro {
	background: #2b2f37
	url("../img/bg/intro-bg.png") no-repeat; background-size: cover;
}
/*=== / intro ===*/